*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-size:20px;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  width:100%;
  height:100%;
  display:flex;
  justify-content: space-around;
  background-color:rgb(43, 43, 43);
}

#word-section{
  width:60%;
  margin:2rem 0rem 0rem 3rem;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  column-gap: 3%;
  row-gap: 2rem;

}

.flip-card{
  color:rgb(232, 232, 232);
  background:rgb(43, 43, 43);
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:10rem;
  height:10rem;
  perspective: 1000px;
}

.flip-card h1{
  font-size:3rem;
}

.flip-card-inner{
  position:relative;
  text-align:center;
  width:100%;
  height:100%;
  transition:transform 0.8s;
  transform-style: preserve-3d;
}

.active .flip-card-inner{
  transform:rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    border:solid 2px rgb(232, 232, 232);
  border-radius: 1rem;
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-front{
  background-color:rgb(43, 43, 43);
  color:white;
}

.flip-card-back{
  transform:rotateY(180deg);
}

#submit-section{
  width:30%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.submit-form{
    width:100%;
    display:flex;
  flex-direction: column;
  justify-content: center;
}

.div-input{
  font-size:16px;
  width:90%;
  padding:0.5rem;
  display:flex;
  flex-direction:column;
  color:white;
  gap:0.8rem;
}

.div-input input{
  width:80%;
  height:1.3rem;
  border-radius: 0.3rem;
}

#kanji-submit{
  width:fit-content;
  padding:0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(43, 43, 43);
  border: 2px solid white;
  color:white;
  margin-top: 1rem;
  margin-left:3rem;
  transition:transform 0.5s ease-in-out;
}

#kanji-submit:hover{
  transform:scale(1.05) translateY(-5px);

}