*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-size:20px;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  width:100%;
  height:100%;
  display:flex;
  background-color:rgb(43, 43, 43);
}

#blur-div{
  width:100%;
  height:100%;
  display:none;
  position:absolute;
  background-color: rgb(111, 111, 111);
  z-index:100;
  opacity:0.5;
}

#word-section{
  width:60%;
  margin:2rem 0rem 0rem 3rem;
  display:flex;
  flex-wrap: wrap;
  column-gap: 3%;
  row-gap: 2rem;
}

#word-section.fullscreen{
  width:100%;
  padding:3rem 5rem;
  margin:0;
}

.card-container{
display:flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.flip-card{
  color:rgb(232, 232, 232);
  background:rgb(43, 43, 43);
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:10rem;
  height:10rem;
  perspective: 1000px;
}

.flip-card h1{
  font-size:3rem;
}

.flip-card-inner{
  position:relative;
  text-align:center;
  width:100%;
  height:100%;
  transition:transform 0.8s;
  transform-style: preserve-3d;
}

.active .flip-card-inner{
  transform:rotateY(180deg);
}


.flip-card-front, .flip-card-back{
    border:solid 2px rgb(232, 232, 232);
  border-radius: 1rem;
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-front{
  background-color:rgb(43, 43, 43);
  color:white;
}

.flip-card-back{
  transform:rotateY(180deg);
}

.card-buttons{
  width:100%;
  display:inline-flex;
  justify-content: space-between;
}

.delete-input, .update-input{
  width:fit-content;
  padding:0.2rem 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(43, 43, 43);
  border: 2px solid white;
  color:white;
  margin-top:10%;
  z-index:10;
  cursor:pointer;
}

#submit-section-hidder{
  position:absolute;
  top:1rem;
  right:3rem;
  width:3rem;
  height:3rem;
  border-radius: 2rem;
  background:transparent;
  cursor: pointer;
  z-index:5;
}

#submit-section-hidder img{
  width:100%;
  object-fit: cover;
}

#submit-section{
  width:30%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#submit-section.hiding{
display:none;
}

.submit-form{
    width:100%;
    display:flex;
  flex-direction: column;
  justify-content: center;
}

.div-input{
  font-size:16px;
  width:90%;
  padding:0.5rem;
  display:flex;
  flex-direction:column;
  color:white;
  gap:0.8rem;
}

.div-input input{
  width:80%;
  height:1.3rem;
  border-radius: 0.3rem;
}

#kanji-submit{
  width:fit-content;
  padding:0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(43, 43, 43);
  border: 2px solid white;
  color:white;
  margin-top: 1rem;
  margin-left:3rem;
  transition:transform 0.5s ease-in-out;
}

#kanji-submit:hover{
  transform:scale(1.05) translateY(-5px);
}

#update-form{
  width:30%;
  height:fit-content;
  padding: 2rem;
  border-radius: 5rem;
  border: 2px solid white;
  background-color: rgb(65, 65, 65);
  z-index:1000;
 position: absolute;
 display:none;
 flex-direction:column;
 justify-content: center;
 align-items: center;
 top: 50%;
 left:50%;
 transform: translate(-50%,-50%);
}

#update-form.displaying{
  display:flex;
}